html,body,p{ margin:0; padding:0;}
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#world{
  background-color: #6ecccc;
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}
